/*your custom css goes here*/

html {
  scroll-behavior: smooth;
}
body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff !important;
    /*color: #656565 !important;*/
    letter-spacing: 0 !important;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
    line-height: 24px !important;
    overflow-x: hidden !important;
}

.container-fluid {
    padding: 0px !important;
    margin: 0px !important;
}

.home-banner-area {
    margin: 0px !important;
}

dl, menu, ol, ul {
     margin: 0.5em 0 !important; 
}

.ps-price {
    background-color: #e62e04 !important;
}

.top-navbar {
    min-height: 20px !important;
    background-color: #fff !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-color: #f7f7f7 !important;
    align-items: center !important;
    font-size: 11px !important;
    line-height: 20px !important;
    text-transform: uppercase !important;
    /*z-index:1 !important;*/
}

.logo-bar-area {
    /*padding: 17px 0 !important;*/
    position: relative;
    transition: padding ease-in-out 0.2s;
}

.la-2x {
    font-size: 4em !important;
}

/* mega menu */


/*category box*/

.course {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 10px;
	overflow: hidden;
	width: 230px;
}

.course:hover {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	display: flex;
	max-width: 100%;
	margin: 10px;
	overflow: hidden;
	width: 230px;
}

.course h2 {
	/*letter-spacing: 1px;*/
	margin: 8px 0;
	font-size: 0.8rem;
	color: white;
}

.course-preview {
	background-color: #F9BB08;
	color: white;
	padding: 30px;
	max-width: 150px;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.hdr-content {
    padding: 0px 0 !important;
}

.hdr-desktop .mmenu:not(.mmenu--vertical) > li > a {
    color: #2d2c2c !important;
}
.mmenu:not(.mmenu--vertical) > li > a:not(:only-child) {
    padding-right: 27px !important;
}

.hdr-desktop .mmenu:not(.mmenu--vertical) > li > a {
    color: #2d2c2c !important;
}
.mmenu:not(.mmenu--vertical) > li > a:not(:only-child) {
    padding-right: 27px !important;
}
.mmenu:not(.mmenu--vertical) > li > a {
    display: block !important;
    position: relative !important;
    padding: 20px 16px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    font-family: "Montserrat", sans-serif !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    letter-spacing: .1px !important;
    transition: 0.2s !important;
}

.border-primary {
    border-color: #27c7d8 !important;
}

.btn-decor {
    letter-spacing: 0px !important;
}

.image-only-wrapper {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ebebeb;
    margin: auto;
    transition: transform 1s;
}

.image-only-wrapper:hover {
    transform: translate(0px,-6px);
}

.main-home-slider img {
    height: 520px;
}

@media only screen and (max-width: 600px) {
  .main-home-slider img {
     height: 320px;
   }
}

.category-text {
    color: #030106;
}

.category-text:hover {
    color: #27c7d8 !important;
    text-decoration: none !important;
}

.shop-features-style4 .shop-feature .shop-feature-icon {
    margin: 0 !important;
    min-width: 102px !important;
    height: auto !important;
    text-align: center !important;
    font-size: 44px !important;
    line-height: 1em !important;
    color: #000 !important;
}

.aiz-p-hov-icon a:hover {
    background: #27c7d8 !important;
    color: #fff;
}

/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  line-height:1.4em;
  background-color: #f8f8fa;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  line-height: 20px;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #0B0A08;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    width: 100%;
    background: #27c7d8;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 11px;
  cursor: pointer;
  /*background-color: #111;*/
  color: #27c7d8;
  padding: 3px 8px;
  border: 1px solid #27c7d8;
  margin-bottom: 7px;
  height:35px;
  font-family: "Montserrat", sans-serif;
}

.openbtn:hover {
  background-color: #27c7d8;
  color: white !important;
}

.delivery-btn {
    padding: 10px 8px !important;
    font-size: 12px !important;
}

.be-seller-btn {
    background-color: #27c7d8;
    color: #fff;
    padding: 10px 22px;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
}

.be-seller-btn:hover {
    background-color: #fff;
    border:1px solid #27c7d8;
    color:#27c7d8;
}

.sidenav-wrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    font-family: "Open Sans", sans-serif !important;
    
}

.sidenav-wrapper ul .nav {
    background-color: #fff;
}

.nav-level-1 {
    display:block; 
    font-weight:bold; 
    text-transform:uppercase; 
    border-top:1px solid #e2e2e2; 
    border-bottom:1px solid #e2e2e2; 
    margin-bottom:-1px;
}

.arrow {
    display: inline-block;
    position: relative;
    float: right;
    margin-left: -50px;
    z-index: 100;
    width: 50px;
    height: 44px;
    top: 0;
    right: 0;
    font-family: 'icomoon';
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.arrow .nav-level-1[aria-expanded="true"]::after {
    display:none;
}

.nav-level-1[aria-expanded="true"]::after {
    content: "\e92a";
    font-family: 'icomoon';
    display: inline-block;
    position: relative;
    float: right;
    margin-left: -50px;
    z-index: 100;
    width: 50px;
    height: 44px;
    top: 0;
    right: 0;
    font-family: 'icomoon';
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: white;
  color:black;
  width: 850px;
  padding: 20px;
  margin-top: 50px;
  z-index: 1000000000;
  border-top: 1px solid #f7f7f7;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 400ms, visibility 400ms;
}

.dropdown-content a:hover {color: #27c7d8;}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.dropdown:hover .dropbtn {color:#27c7d8;}


.submenu-title {
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0px !important;
}

.single-menu-text{
    font-weight: bold;
    color:#2d2c2c;
    font-size: 14px;
    letter-spacing:1px;
    margin-left: 0px !important;
}

.submenu-text {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 0px;
    color: #2d2c2c;
    margin-left: 0px !important;
}
.menu-col {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: static;
    padding: 0 20px;
    width: 100%;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #f7f7f7;
}

.menu-col:first-child {
  border-left: none;
}

.submenu-text-link {
    font-weight: bold;
    color:#2d2c2c;
    font-size: 14px;
    margin-left: 0px !important;
}

.submenu-text-link:hover{
    color:#2d2c2c;
    text-decoration: underline;
}


.navigation-text {
    color: #2d2c2c;
    text-align:center;
    float:left;
    font-size: 13px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05 px;
    transition: 0.2s;
}

.navigation-text:hover {
    color:#27c7d8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.add-to-cart-buy-now-btn {
    padding: 0;
    width: 170px;
    text-align: center;
    margin-right: 10px;
    height: 44px;
    font-size: 15px;
    border-radius: 2px;
    transition: all .3s ease-out;
    outline: none;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.buy-now-btn {
    background-color: #FEA800;
    border: 1px solid #FEA800;
    color: #fff;
}
.buy-now-btn:hover {
    background: #ED8900;
}
.add-to-cart-btn {
    background-color: #27c7d8;
    color: #fff;
}
.add-to-cart-btn:hover {
    border-color: #27c7d8;
    background: #27c7d8;
}

.delivery-options {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.delivery-header {
    display: table;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 11px;
}

.delivery-pincode {
    display: table-cell;
    vertical-align: middle;
    color: #202020;
    padding-right: 10px;
    max-width: 215px;
    word-break: break-word;
    line-height: 20px;
}

.delivery-box {
    border-bottom: 1px solid #f7f7f7;
}

.seller-name_title {
    color: #757575;
    font-size: 12px;
}
.seller-name__title {
    margin-top: 0px;
    font-size: 16px;
}

.visit-store-link {
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align:center;
}

.wishlist-icon {
    font-size: 20px;
}

.wishlist-icon:hover {
    color: #27c7d8;
}

.fs-15 {
    font-size: 1.07rem!important;
}
.fs-14 {
    font-size: 0.95rem !important;
}
.fs-13 {
    font-size: 1.06rem !important;
}
.minicart-title {
    font-size: 12px !important;
}
.header-search {
    font-size: 16px !important;
}

.promo-topline {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px;
    color: #fff;
}
.hdr .custom-text {
    font-size: 12px !important;
}
.hide{
  display:none;
}
.show{
  display:block;
}

.h-30px, .size-30px {
    height: 25px;
}

.w-30px, .size-30px {
    width: 25px;
}

.h-35px, .size-35px {
    height: 45px;
}

.delivery-address-btn {
    background: #fff !important; 
    color: #000 !important; 
    border: 2px solid #27c7d8;
}

.bootstrap-select .dropdown-toggle .filter-option {
    top: 6px !important;
}

.sell-area {
    position: absolute;
    top: 20px;
    left: 0px;
    height: 100%;
    display: block;
    z-index: 9;
    color:white;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.sell-area .sale {
    background-color: #42c406;
    color: white;
    padding: 0px 3px;
    font-size: 0.97em;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 15px;
}